{% extends "base.html" %}
{% block title %}Cocktail Menu{% endblock %}
{% block bodyclass %}menu{% endblock %}
{% block content %}
<h1>{% block header %}Cocktails{% endblock %}</h1>
	{% for name, details in bevs.items() %}
		<h2>{{ name }}</h2>
		<ul>
			{% for ingredient in details['ingredients'] %}
				{% for name, amount in ingredient.items() %}
				<li>{% block amount scoped %}{% endblock %}{{ name }}</li>
				{% endfor %}
			{% endfor %}
		</ul>
		{% block directions scoped %}{% endblock %}
	{% endfor %}
{% endblock %}
